img {width: 100%;} 

input {
    margin-right: 12px;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 12px; 
    box-shadow: 0 0 3px whitesmoke;
}

input:focus {border-radius: 0;}

button {
    border: 1px solid gray;
    border-radius: 12px;
}

ul {
    background-color: #efefef;
    border-radius: 12px;
    padding: 24px;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid gray;
}

ul li:hover {
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
}




