<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <title>Boolean To Do List</title>
</head>
<body>
    <div id="app">

        <header class="container">
            <!-- Img -->
        </header>

        <nav class="container">
            <div class="row">

                <!-- Input + v-model = per pushare quello che scrive l'utente qui nell'array -->
                
                <input class="col-8" 
                    v-model="newTaskToDo" 
                    placeholder="Nuovo Task" 
                    @keyup.enter="addTask">

                <button class="col-4" 
                    @click="addTask">
                    Aggiungi
                </button>
            
            </div>
        </nav>

        <main class="container">
            <ul class="row">

                <li v-for="task in toDoList">
                    {{ task }}
                    
                    <i class="fas fa-trash-alt" 
                        @click="deleteTask">
                    </i>

                </li>

            </ul>
        </main>

    </div>


    <script src="./js/script.js"></script>
</body>
</html>